/* ==========================================================================
Page Visibilities
========================================================================== */

#page_2, #page_3, #page_4, #page_5
{
    display:none;
}


.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



  #to_slide_two, #to_slide_three, 
  #to_slide_four, #to_schedule_class, 
  #to_openhouse
  {
      float:right;
      position: fixed;
      right: 0;
      margin-right:10px;
      bottom: 15px!important;
  }

  #button_holder
  {
      text-align:center;
  }



/* ==========================================================================
Tab Styles
========================================================================== */

  /* Style the tab */
.tab {
  overflow: hidden;
  background-color: #ffffff;
  width:100%;
  margin-left:-5px;
  text-align:center;
}

/* Style the div inside the tab */
.tablinks {
  background-color: rgba(241, 203, 97, 0.329);
  color:rgb(19, 88, 156);
  border-radius:3px;
  width:32%;
  margin:1px;
  text-align:left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

.widget_panel
{
  display:none;
}
