/* ==========================================================================
Page Visibilities
========================================================================== */

#page_2, #page_3, #page_4, #page_5
{
    display:none;
}


.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



  #to_slide_two, #to_slide_three, #to_slide_four, #to_schedule_class
  {
      float:right;
      position: fixed;
      right: 0;
      margin-right:10px;
      bottom: 15px!important;
  }

  #button_holder
  {
      text-align:center;
  }


  /* Style the buttons used to open and close the accordion panel */
.accordion {
    background-color: rgb(248, 147, 147);
    color: rgb(248, 246, 246);
    cursor: pointer;
    padding: 20px;
    width:33.33%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius:50px;
    margin:2px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: rgb(248, 98, 98);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }