/* ==========================================================================
Page Visibilities
========================================================================== */

#page_2, #page_3, #page_4, #page_5
{
    display:none;
}


.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



  #to_slide_two, #to_slide_three, #to_slide_four, #to_schedule_class
  {
      float:right;
      position: fixed;
      right: 0;
      margin-right:10px;
      bottom: 15px!important;
  }

  #button_holder
  {
      text-align:center;
  }



/* ==========================================================================
Tab Styles
========================================================================== */

  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(241, 236, 236);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(128, 157, 250);
}


/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}